<!DOCTYPE html>
<html>
<%- include('../../common/head'); %>
<body>
    <%- include('../../common/navs/mainNavigation'); %>
    <div class="container">
    <%- include('./common/rosaryTabs'); %>
    <div class="row mt-5">
        <div class="col-sm-12 col-md-4 col-xl-3">
            <%- include('./common/pageIndex'); %>
        </div>
        <div class="col-sm-12 col-md-8 col-xl-9">
            <%- include('./common/howToPray'); %>
        </div>
    </div>
    <%- include('../../common/navs/footer'); %>
    <%- include('../../common/scripts'); %>
</body>
</html>
