<!DOCTYPE html>
<html>
<%- include('../../common/head'); %>
<body>
    <%- include('../../common/navs/mainNavigation'); %>
    <div class="container">
        <%- include('./common/carousel'); %>
        <h1>Welcome to JUMIs</h1>
        <p>Learn about the rosary and activites near you.</p>
    </div>
    <%- include('../../common/navs/footer'); %>
    <%- include('../../common/scripts'); %>
</body>
</html>
